header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #131413;
    color: whitesmoke;
    margin-bottom: 30px;
    font-size: 1.2em;
    
    h1.logo {
        flex-grow: 1;
    }

    nav {
        display: flex;
        gap: 10px;
        height: 30px;
        align-items: center;
        justify-content: center;
        a {
            &:not(:last-child) {
                margin-right: 10px;
            }

            &.active {
                color: rgb(255, 247, 4);
                font-weight: bold;
            }
        }
        img {
            height: 30px;
            width: 30px;
        }
    }
}
