header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #131413;
    color: whitesmoke;
    font-size: 1.2em;
    
    h1.logo {
        flex-grow: 1;
        font-size: 24px;
        margin-left: 10px;
    }

    nav {
        display: flex;
        gap: 10px;
        height: 30px;
        align-items: center;
        justify-content: center;
        a {
            &:not(:last-child) {
                margin-right: 10px;
            }

            &.active {
                border-bottom:1px solid rgb(241, 241, 241);
                font-weight: bold;
            }
        }
        img {
            height: 30px;
            width: 30px;
        }
        svg {
            cursor: pointer;
        }
    }
}
