<div class="home-page">
    <h1>Hello, {{ user.name }}</h1>
    <img class="contact-img" *ngIf="user" src="assets/icons for misterBitcoin/contact.png" alt="{{user.name}}">
    
    <div class="home-page-details">
        <p><img src="assets/icons for misterBitcoin/coins.png" alt="">
            USD: <strong>{{ user.coins | currency:'USD':'symbol':'1.0-0' }}</strong></p>
        <p *ngIf="btcRate"><img src="assets/icons for misterBitcoin/bitcoin.png" alt="">
            BTC: <strong>{{ btcRate }}</strong></p>
    </div>
    
    <moves-list></moves-list>
</div>
