<div class="home-page">
    <h1>Hello, {{ user.name }}</h1>
    <img class="contact-img" *ngIf="user" src="assets/icons for misterBitcoin/contact.png" alt="{{user.name}}">
    
    <div class="home-page-details">
        <p><img src="assets/icons for misterBitcoin/coins.png" alt="">
            Coins: <strong>${{ user.coins }}</strong></p>
        <p *ngIf="btcRate"><img src="assets/icons for misterBitcoin/bitcoin.png" alt="">
            BTC: <strong>{{ btcRate }}</strong></p>
    </div>
    
    <moves-list></moves-list>

    <!-- <button (click)="toggleStatistics()">Statistics</button> -->
    <!-- <div *ngIf="isStatisticsOpen">
        <statistics-page></statistics-page>
    </div> -->
</div>
