.contact-edit {
    a {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
            width: 25px;
        }
        &:hover {
            background-color: darken(rgba(175, 175, 175, 0.165),30%);
        }
    }
    form {
        display: flex;
        flex-direction: column;
    }
}