.preview-container {
    background-color: #dcdcdc;
    width: 280px;
    border-radius: 20px;
    height: 50px;
    display: flex;
    li {
        margin-left: 6px;
        margin-top: 1px;        
        display: flex;
        gap: 12px;
        font-weight: bold;
        // padding: 10px 10px;
        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
    }
    
}